body {
    font-family: "Oxaniumn" cursive;
    background-color: #000;
    color: #fff;
}

body::before {
    content: '';
    background-image: url(../image/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    opacity: 0.2;
}



.cabecalho {
    display: flex;
    justify-content: center;
}

.cabecalho 
.logo {
    height: 150px;
    width: 250px;
}

.character-selection {
    display: flex;
    align-items: center;
    gap: 30px;
    min-height: calc(100vh - 152px);
    justify-content: center;
}

.character-selection 
.character-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
}

.character-selection
.characters {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 585px;
    gap: 25px;
}

.character-selection 
.characters
.titile {
    font-size: 20px;
    letter-spacing: 4px;
    text-transform: uppercase;
    border-bottom: 2px solid  #FF5733;
    width: 100%;
    text-align: center;
    color: #fbf205;
}

.character-list 
.character img {
    width: 150px;
    height: 150px;
    border-bottom: 3px solid  #FF5733;
}

.character-list .character.selected {
        box-shadow: 0px 0px 30px 5px #FF5733;
}

.selected-character {
    text-align: center;
    max-height: 530px;
}

.selected-character
.big-character {
    width: 430px;
    height: 430px;
}

.selected-character 
.character-name {
    border-bottom: 2px solid #FF5733;
    letter-spacing: 4px;
    text-transform: uppercase;
    color: #fff;
}

.selected-character .character-description {
        font-size: 15px;
        line-height: 22px;
        text-align: center;
        margin-top: 15px;
        width: 420px;
        color: #fff;
}


.ryu {
    color: #db0f27;
}